In [5]:
import pandas as pd

In [6]:
obj = pd.Series([5,4,3,-2,1])  # series
print(obj)

0    5
1    4
2    3
3   -2
4    1
dtype: int64

#  values and index

In [7]:
sales = pd.Series([5,4,3,-2,1])  
print(sales.values)
print(sales.index)

[ 5  4  3 -2  1]
RangeIndex(start=0, stop=5, step=1)

In [8]:
sales = pd.Series([5,4,3,-2,1] , index = ["a","b","c","d","e"])
print(sales)
print(sales.values)
print(sales.index)

a    5
b    4
c    3
d   -2
e    1
dtype: int64
[ 5  4  3 -2  1]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
sales = pd.Series([500,400,300,-200,100] , index = ["jan","feb","march","april","may"] , name = "5 months sales records")
print(sales)

jan      500
feb      400
march    300
april   -200
may      100
Name: 5 months sales records, dtype: int64

# create a pandas series to store a canteen data, how many sandwiches sold in a week

In [10]:
sandwichesales = pd.Series([5,10,15,20,5], index = ["mon","tues","wed","thurs","frid"])
print(sandwichesales)

mon       5
tues     10
wed      15
thurs    20
frid      5
dtype: int64

In [11]:
print(sandwichesales[1])
print(sandwichesales["tues"])

10
10

In [12]:
print(sandwichesales[ [3,4] ])   # for multiple index, use array
print(sandwichesales[ ["tues","wed"] ])

thurs    20
frid      5
dtype: int64
tues    10
wed     15
dtype: int64

# for providing multiple index , use array notation

In [13]:
print(sandwichesales>5)

mon      False
tues      True
wed       True
thurs     True
frid     False
dtype: bool

In [14]:
print(sandwichesales[sandwichesales > 5])

tues     10
wed      15
thurs    20
dtype: int64

In [15]:
#sandwichesales * 2   # direct print nhi hota kese variable mai store krwana hota ha
sandwichesales = sandwichesales *2
print(sandwichesales)

mon      10
tues     20
wed      30
thurs    40
frid     10
dtype: int64

In [16]:
sandwichesales = sandwichesales / 2
print(sandwichesales)

mon       5.0
tues     10.0
wed      15.0
thurs    20.0
frid      5.0
dtype: float64

# find index is exists

In [17]:
"mon" in sandwichesales

True

# convert numpy array to pandas series

In [18]:
import numpy as np
ar = np.array([5,4,3,2,1])
ind = np.array(["a","b","c","d","e"])

obj2 = pd.Series(ar, index = ind)
print(obj2)

a    5
b    4
c    3
d    2
e    1
dtype: int32

# convert python dictionary to pandas series

In [40]:
sdata = {"sindh":5000, "punjab":4000, "kpk":300, "baloch":2000}
tax_by_state = pd.Series(sdata)
print(tax_by_state)
print(tax_by_state.index)

sindh     5000
punjab    4000
kpk        300
baloch    2000
dtype: int64
Index(['sindh', 'punjab', 'kpk', 'baloch'], dtype='object')

In [41]:
sdata = {"sindh":50000, "punjab":40000, "kpk":300, "baloch":2000}
tax_by_state = pd.Series(sdata, index = ["punjab","sindh","baloch","kpk"])
print(tax_by_state)

punjab    40000
sindh     50000
baloch     2000
kpk         300
dtype: int64

** sourse for series data **

* direct data in the series method
* from numpy array or list
* from dictionary

In [42]:
sdata = {"sindh":50000, "punjab":40000, "kpk":300, "baloch":2000}
tax_by_state = pd.Series(sdata, index = ["punjab","sindh","baloch","kpk","fata"])
print(tax_by_state)
print(pd.isnull(tax_by_state))

punjab    40000.0
sindh     50000.0
baloch     2000.0
kpk         300.0
fata          NaN
dtype: float64
punjab    False
sindh     False
baloch    False
kpk       False
fata       True
dtype: bool

In [43]:
tax_by_state.name ="state tax paying capicity" 
tax_by_state.index.name = "state names"
print(tax_by_state)
print(tax_by_state.index)

state names
punjab    40000.0
sindh     50000.0
baloch     2000.0
kpk         300.0
fata          NaN
Name: state tax paying capicity, dtype: float64
Index(['punjab', 'sindh', 'baloch', 'kpk', 'fata'], dtype='object', name='state names')

In [44]:
# NaN mean value does not exists
pd.isnull(tax_by_state)
tax_by_state.isnull()

state names
punjab    False
sindh     False
baloch    False
kpk       False
fata       True
Name: state tax paying capicity, dtype: bool

# change indexing

In [45]:
sw =pd.Series([10,20,30,40,50,60,0], index =["mon","tue","wed","thu","fri","sat","sun"])
print(sw)
sw.index = ["m","t","w","t","f","s","s"]
print(sw)

mon    10
tue    20
wed    30
thu    40
fri    50
sat    60
sun     0
dtype: int64
m    10
t    20
w    30
t    40
f    50
s    60
s     0
dtype: int64