In [1]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape(4,4), index=["ohio","colorado","utah","new york"], 
columns=["one","two","three","four"])
print(data_df)

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [2]:
data_df = data_df.drop("two",axis=1)  # column two is deleted axis= 1
print(data_df)

          one  three  four
ohio        0      2     3
colorado    4      6     7
utah        8     10    11
new york   12     14    15

In [3]:
data_df = data_df.drop("colorado",axis=0)  # row two is deleted axis= 0
print(data_df)

          one  three  four
ohio        0      2     3
utah        8     10    11
new york   12     14    15

# indexing, selection and filteration

In [4]:
data_df = pd.DataFrame(np.arange(16).reshape(4,4), index=["ohio","colorado","utah","new york"], 
columns=["one","two","three","four"])
print(data_df)

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [5]:
df2 = data_df[ ["one","three"] ]
print(df2)

          one  three
ohio        0      2
colorado    4      6
utah        8     10
new york   12     14

In [6]:
print(data_df[:2])  #  same like numpy

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7

In [7]:
print(data_df[2:])

          one  two  three  four
utah        8    9     10    11
new york   12   13     14    15

In [8]:
print(data_df["one"])  # dic like style for access data

ohio         0
colorado     4
utah         8
new york    12
Name: one, dtype: int32

In [9]:
print(data_df.one)

ohio         0
colorado     4
utah         8
new york    12
Name: one, dtype: int32

In [10]:
print(data_df["one"][2:])    #filter on both row and column

utah         8
new york    12
Name: one, dtype: int32

In [11]:
print(data_df.one[2:])    #filter on both row and column

utah         8
new york    12
Name: one, dtype: int32

In [14]:
#conditional selection

print(data_df[data_df["three"] > 5])

          one  two  three  four
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [15]:
print(data_df.three[data_df["three"] > 5])

colorado     6
utah        10
new york    14
Name: three, dtype: int32

In [16]:
#boolean dataframe

df2 = data_df["three"] > 5   # column three > 5
print(df2)

ohio        False
colorado     True
utah         True
new york     True
Name: three, dtype: bool

In [17]:
print(data_df[df2])

          one  two  three  four
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15