In [3]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),columns=list("ABC"), index=["utah","ohio","texas","oregon"])
print(frame)

def min_max(x):
    # minimum = x.min()  # we can use min max directly
   # maximum = x.max()
    return pd.Series([x.min(),x.max()], index = ["min", "max"])
df = frame.apply(min_max)
print(df, type(df))   # type(df) class type btata ha like frame.dataframe

               A         B         C
utah    0.503386  1.309852  0.553724
ohio    0.513229 -0.352877 -0.008415
texas   0.666836 -1.704359 -0.498294
oregon  0.851939 -0.733706 -0.433117
            A         B         C
min  0.503386 -1.704359 -0.498294
max  0.851939  1.309852  0.553724 <class 'pandas.core.frame.DataFrame'>

# sorting and ranking

In [7]:
frame = pd.DataFrame(np.arange(8).reshape(2,4),index=["three","one"], 
columns=["d","a","b","c"])
print(frame)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [9]:
print(frame.sort_index(axis=1, ascending=False))  # ascending=False seq change krta ha (d c b a)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [10]:
# by default sort axis= 0 ascending= true
print(frame.sort_index())

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [18]:
# sort by values
print(frame.sort_values(by="b"))

print(frame.rank(ascending=False, method="max"))

print(frame.rank(ascending=True, method="min"))

print(frame.rank(axis="columns"))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [22]:
# sumarizing and computing descriptive statistics

df = pd.DataFrame([[1.4, np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]], index=["a","b","c","d"],
                  columns=["one","two"])
print(df)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [24]:
print(df.sum())

print(df.sum(axis="columns"))

one    9.25
two   -5.80
dtype: float64
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [29]:
# skipna use for
print(df,"\n")
print(df.mean(axis="columns", skipna=False))

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [30]:
# unique values
df = pd.DataFrame([[1.4, np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]], index=["a","b","c","d"],
                  columns=["one","two"])
print(df)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [31]:
print(df["one"].unique(),df["two"].unique())

[1.4  7.1   nan 0.75] [ nan -4.5 -1.3]

In [36]:
print(df["one"].value_counts() )  # check column one values kitney time aye han

0.75    1
1.40    1
7.10    1
Name: one, dtype: int64