In [4]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape(4,4), index=["ohio","colorado","utah","new york"], 
columns=["one","two","three","four"])
print(data_df)

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

# selection with loc and iloc

In [7]:
## in loc method first row then,second column define and multiple col name req array notation
print(data_df.loc[ ["colorado","ohio"],["two","three"] ])

          two  three
colorado    5      6
ohio        1      2

In [15]:
## using num instead of label
print(data_df.iloc[2, [3,0,1]]) 
print(data_df.iloc[:])
print(data_df.iloc[:3,:3])
print(data_df.iloc[:2])

four    11
one      8
two      9
Name: utah, dtype: int32
          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15
          one  two  three
ohio        0    1      2
colorado    4    5      6
utah        8    9     10
          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7