In [7]:
import pandas as pd

data= list(open("Examples/ex3.txt"))
print(data)
# use spaces (one or more) as delimeter
result= pd.read_table("Examples/ex3.txt", sep= "\s+")
result

['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']

E:\Anacondaa\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: read_table is deprecated, use read_csv instead.

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [8]:
df= pd.read_csv("Examples/ex4.csv", skiprows= [0, 2, 3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# Table 6-2 some read csv some read table function arguments