In [4]:
# conda install -c anaconda sqlite

In [1]:
# inserting data
import pandas as pd
import sqlite3

data= [("atlanta","georgia",1.25,6),("tallahses","florida",2.6,3),("sacramenro","california",1.7,5)]
stmt= "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

NameError: name 'con' is not defined

In [2]:
# selecting/ extraction data
cursor= con.execute("select * from test")
rows= cursor.fetchall()
print(type(rows), rows)

NameError: name 'con' is not defined

In [3]:
print(cursor.description)
data_df= pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
data_df

NameError: name 'cursor' is not defined

In [4]:
# conda install -c anaconda sqlalchemy
import pandas as pd
import sqlalchemy as sqla
db= sqla.create_engine("sqlite:///mydata.sqlite")
data_df= pd.read_sql("select * from test", db)
print(data_df)

OperationalError: (sqlite3.OperationalError) no such table: test
[SQL: select * from test]
(Background on this error at: http://sqlalche.me/e/e3q8)